<div
  class="flex flex-col lg:flex-row bg-[url('assets/images/bg-light.jpg')] bg-no-repeat bg-cover w-full text-white h-screen"
>
  <section class="section-1">
    <div class="title flex mx-20 mt-10 items-center">
      <h2 class="font-medium text-xl">the.weather</h2>
    </div>
    <app-current-weather
      [currentWeather]="weatherData.current"
    ></app-current-weather>
  </section>
  <section class="section-2 overflow-scroll overflow-x-hidden">
    <app-search-form
      (searchLocationEvent)="searchLocation($event)"
    ></app-search-form>
    <app-recent-search
      (searchRecentLocationEvent)="searchLocation($event)"
      [recentSearchList]="recentSearchList"
    ></app-recent-search>
    <app-details-weather
      [detailsWeather]="weatherData.details"
    ></app-details-weather>
    <!-- <app-next-days-weather></app-next-days-weather> -->
  </section>
  <div
    *ngIf="loading"
    class="absolute h-screen w-screen bg-gray-900 bg-opacity-5 grid place-items-center backdrop-filter backdrop-blur-xl"
  >
    <p class="text-5xl animate-pulse">Retrieving weather information...</p>
  </div>
</div>
