<div class="flex flex-col px-10">
  <header class="title 2xl:my-10 lg:my-8 font-normal">Jours prochains</header>
  <ul class="w-full border-b-2 border-b-gray-200 border-opacity-30">
    <li class="2xl:mb-10 lg:mb-6 flex justify-between">
      <h4 class="property font-light text-white text-opacity-60">Demain</h4>
      <p class="value">26°</p>
    </li>
    <li class="2xl:mb-10 lg:mb-6 flex justify-between">
      <h4 class="property font-light text-white text-opacity-60">Demain</h4>
      <p class="value">26°</p>
    </li>
    <li class="2xl:mb-10 lg:mb-6 flex justify-between">
      <h4 class="property font-light text-white text-opacity-60">Demain</h4>
      <p class="value">26°</p>
    </li>
    <li class="2xl:mb-10 lg:mb-6 flex justify-between">
      <h4 class="property font-light text-white text-opacity-60">Demain</h4>
      <p class="value">26°</p>
    </li>
    <li class="2xl:mb-10 lg:mb-6 flex justify-between">
      <h4 class="property font-light text-white text-opacity-60">Demain</h4>
      <p class="value">26°</p>
    </li>
    <li class="2xl:mb-10 lg:mb-6 flex justify-between">
      <h4 class="property font-light text-white text-opacity-60">Demain</h4>
      <p class="value">26°</p>
    </li>
    <li class="2xl:mb-10 lg:mb-6 flex justify-between">
      <h4 class="property font-light text-white text-opacity-60">Demain</h4>
      <p class="value">26°</p>
    </li>
    <li class="2xl:mb-10 lg:mb-6 flex justify-between">
      <h4 class="property font-light text-white text-opacity-60">Demain</h4>
      <p class="value">26°</p>
    </li>
  </ul>
</div>
